/*
 * Bootstrap-compatible colours
 */

$blue: #0275d8;
$orange: #eeac57;
$green: #5cb85c;
$red: #d9534f;
$purple: #613d7c;

$grey: #888;
$white: #fff;

$light-grey: #aaa;
$dark-blue: #34708e;
$dark-orange: #896c3f;
$dark-red: #a74544;
$dark-green: #3e753f;
$muddy-red: #d0b1b1;
