/*
 * Toast CSS
 */

.toasts {
    .card-block { 
      padding: 0.5em; 
      z-index: 10000;
    }
    .card-title { margin-bottom: 0; }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
    from { opacity: 0; }
    to { opacity: 1; }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
