/*
 * Assemble the overall style
 */
/*
 * Definitions
 */
/*
 * Bootstrap-compatible colours
 */
/*
 * Style declarations
 */
/*
 * Top-level styles
 */
.spacer {
  margin-bottom: 10px; }

.top-spacer {
  margin-top: 10px; }

.big-top-spacer {
  margin-top: 20px; }

.progress-spacer {
  margin: 5px 0; }

.noprogress-spacer {
  margin-top: 15px; }

.list-group {
  margin: 10px 0 40px 0; }

.float-right {
  float: right; }

/* Always have a scrollbar, so it doesn't shift when it comes/goes */
html {
  overflow-y: scroll; }

/*
 * Navbar logo 
 */
.fit-in-navbar {
  height: 30px;
  margin-top: 5px; }

/*
 * Output typography - wrap the fixed-width query output
 */
pre {
  white-space: pre-wrap; }

/*
  * Header dropdown: enable floating something to the left of a menu item
  */
.dropdown-item {
  position: relative; }

.dropdown-left {
  position: absolute;
  left: 0.5em; }

/*
 * Config styling
 */
#MainConfigTab {
  /* cooked output */
  /* raw output */ }
  #MainConfigTab .config {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 90%;
    color: #aaa;
    white-space: pre;
    display: table;
    border: 1px solid white;
    padding: 0 3px; }
  #MainConfigTab .error {
    display: inline-block;
    color: black;
    padding-right: 1em;
    border-bottom: 1px solid #d9534f; }
  #MainConfigTab .unsupported .error {
    border-bottom-color: #5cb85c; }
  #MainConfigTab .err-msg {
    display: inline-block;
    position: absolute;
    margin-left: -.2em;
    margin-top: 3px;
    padding: 1px .5em 0;
    background-color: white;
    color: #d9534f;
    font-weight: 500;
    font-size: 80%;
    max-width: 31em;
    border: 1px solid #d9534f;
    border-radius: .3em; }
  #MainConfigTab .unsupported .err-msg {
    color: #5cb85c;
    border-color: #5cb85c; }
  #MainConfigTab .unsupported {
    color: #5cb85c; }

/*
 * Connection modal styling
 */
/*
 * Shrink alerts in dialogs (for status tab in particular)
 */
.modal-body .alert {
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em; }

/*
 * Connection modal dialog - keep consistent height across tabs
 */
#connection-modal-contents {
  height: 20em;
  overflow-y: auto; }

/*
 * Align elements on the credentials tab
 */
.col-form-label {
  text-align: right; }

label {
  padding-right: 0; }
  label .custom-radio, label .form-check-label {
    margin-top: 0.4rem; }

/*
 * Colours
 */
.state-grey {
  color: #888; }

.state-amber {
  color: #eeac57; }

.state-green {
  color: #5cb85c; }

.state-red {
  color: #d9534f; }

input.bad-input, input.bad-input:focus {
  background-color: #d0b1b1; }

/*
 * Log styling
 */
#MainLogsTab {
  font-size: smaller; }
  #MainLogsTab .light {
    color: #888; }

/*
 * Netconf style
 */
/*
 * Smaller text size for XML output
 */
pre code {
  font-size: 12px; }

/*
 * XML highlighting
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: #613d7c; }

.hljs-attribute, .hljs-keyword, .hljs-built_in, .hljs-attr {
  color: #5cb85c; }

.hljs-number, .hljs-literal, .hljs-string, .hljs-name {
  color: #0275d8; }

.hljs-comment, .hljs-meta {
  color: #ccc;
  font-style: italic; }

.hljs-tag {
  color: #448; }

.hljs-title, .hljs-value, .hljs-class, .hljs-function, .hljs-string {
  color: #d9534f; }

.hljs-keyword, .hljs-title, .hljs-class, .hljs-section {
  font-weight: bold; }

/*
 * Style for samples: close buttons to right of dropdown menu items
 */
.dropdown-menu.with-close {
  padding-right: 2em; }

.dropdown-menu.with-close button.btn.close {
  margin-right: -2em;
  color: #aaa; }

/*
 * Toast CSS
 */
.toasts .card-block {
  padding: 0.5em;
  z-index: 10000; }

.toasts .card-title {
  margin-bottom: 0; }

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes bounceInRight {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.bounceInRight {
  animation-name: bounceInRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }
